@using Microsoft.Extensions.Options
@using MoserBlog.Web.Configurations

@inject IOptions<BlogMetaDataConfig> BlogMetaDataConfig

<header class="page-header">
    <div class="logo">
        <h1><a class="logo__link">@BlogMetaDataConfig.Value.Name</a></h1>
    </div>
        
    <nav class="navigation">
        <ul class="navigation__items">
            <li class="navigation__item navigation__item--active">
                <a class="navigation__item-link">Home</a>
            </li>

            <li class="navigation__item">
                <a class="navigation__item-link">Blog</a>
            </li>

            <li class="navigation__item">
                <a class="navigation__item-link">About</a>
            </li>
        </ul>
    </nav>
</header>