<!DOCTYPE html>
<html lang="en">
    <head>
        @await Html.PartialAsync("_MetaData")
        @await Html.PartialAsync("_Favicon")
        
        <link rel="stylesheet" href="~/dist/base.bundle.min.css" asp-append-version="true" />

        @await RenderSectionAsync("PageStyles", required: false)
    </head>
    <body class="page">

        @await Component.InvokeAsync("PageHeader")

        <main role="main" class="page-content">
            @RenderBody()
        </main>
        
        @await Component.InvokeAsync("PageFooter")

        <script src="~/dist/base.bundle.min.js" asp-append-version="true" async></script>

        @await RenderSectionAsync("PageScripts", required: false)
    </body>
</html>
