@using Microsoft.Extensions.Options
@using MoserBlog.Web.Configurations

@inject IOptions<BlogMetaDataConfig> BlogMetaDataConfig


<footer class="page-footer">
    <div class="grid  page-footer__top">
    <div class="grid__col--sm-6 grid__col--xs-12">
        <div class="page-footer__top-about">
            <h4 class="page-footer__title">@BlogMetaDataConfig.Value.Name</h4>
            <p>
                <a class="page-footer__nav-item-link" href="@BlogMetaDataConfig.Value.GithubUrl" target="_blank" rel="nofollow noopener">
                    <span class="icon-github"></span>
                    <span class="">GitHub</span>
                </a>
            </p>
        </div>
    </div>
    <div class="grid__col--sm-3 grid__col--xs-12">
        <h4 class="page-footer__title">More Links</h4>
        <nav class="page-footer__nav">
            <ul class="page-footer__nav-items">
                <li class="page-footer__nav-item">
                    <a class="page-footer__nav-item-link">Link 1</a>
                </li>
                <li class="page-footer__nav-item">
                    <a class="page-footer__nav-item-link">Link 2</a>
                </li>
                <li class="page-footer__nav-item">
                    <a class="page-footer__nav-item-link">Link 3</a>
                </li>
            </ul>
        </nav>
    </div>        
    <div class="grid__col--sm-3 grid__col--xs-12">
        <h4 class="page-footer__title">More Links</h4>
        <nav class="page-footer__nav">
            <ul class="page-footer__nav-items">
                <li class="page-footer__nav-item">
                    <a class="page-footer__nav-item-link">Link 1</a>
                </li>
                <li class="page-footer__nav-item">
                    <a class="page-footer__nav-item-link">Link 2</a>
                </li>
                <li class="page-footer__nav-item">
                    <a class="page-footer__nav-item-link">Link 3</a>
                </li>
            </ul>
        </nav>
    </div>
    </div>
    <div class="grid page-footer__bottom">
        <div class="grid__col--sm-8 grid__col--xs-12 page-footer__bottom-copyright">
            <p>@BlogMetaDataConfig.Value.Copyright</p>
        </div>
        <div class="grid__col--sm-4 grid__col--xs-12 page-footer__bottom-legal">
            <a class="page-footer__bottom-legal-link">Imprint</a>
            <a class="page-footer__bottom-legal-link">Privacy Policy</a>
            <a href="/contact" class="page-footer__bottom-legal-link">Contact</a>
        </div>
    </div>
</footer>