<footer class="page-footer">
    <div class="grid  page-footer__top">
    <div class="grid__col--sm-6 grid__col--xs-12">
        <div class="page-footer__top-about">
            <h4 class="page-footer__title">MoserBlog</h4>
            <p>
                <a class="page-footer__nav-item-link" href="" target="_blank" rel="nofollow noopener">
                    <span class="icon-github"></span>
                    <span class="">GitHub</span>
                </a>
            </p>
        </div>
    </div>
    <div class="grid__col--sm-3 grid__col--xs-12">
        <h4 class="page-footer__title">More Links</h4>
        <nav class="page-footer__nav">
            <ul class="page-footer__nav-items">
                <li class="page-footer__nav-item">
                    <a class="page-footer__nav-item-link">Link 1</a>
                </li>
                <li class="page-footer__nav-item">
                    <a class="page-footer__nav-item-link">Link 2</a>
                </li>
                <li class="page-footer__nav-item">
                    <a class="page-footer__nav-item-link">Link 3</a>
                </li>
            </ul>
        </nav>
    </div>        
    <div class="grid__col--sm-3 grid__col--xs-12">
        <h4 class="page-footer__title">More Links</h4>
        <nav class="page-footer__nav">
            <ul class="page-footer__nav-items">
                <li class="page-footer__nav-item">
                    <a class="page-footer__nav-item-link">Link 1</a>
                </li>
                <li class="page-footer__nav-item">
                    <a class="page-footer__nav-item-link">Link 2</a>
                </li>
                <li class="page-footer__nav-item">
                    <a class="page-footer__nav-item-link">Link 3</a>
                </li>
            </ul>
        </nav>
    </div>
    </div>
    <div class="grid page-footer__bottom">
        <div class="grid__col--sm-8 grid__col--xs-12 page-footer__bottom-copyright">
            <p>2022 © Max Mustermann.</p>
        </div>
        <div class="grid__col--sm-4 grid__col--xs-12 page-footer__bottom-legal">
            <a class="page-footer__bottom-legal-link">Impressum</a>
            <a class="page-footer__bottom-legal-link">Datenschutz</a>
        </div>
    </div>
</footer>